html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  pointer-events: auto !important;
}

* {
  pointer-events: auto;
}

button {
  pointer-events: auto !important;
  cursor: pointer !important;
}
